.all-teams {
    padding: 50px;
  }
  .search-team {
    padding: 30px;
  }
  .card{
    padding: 10px;
    height: 300px;
    border: 1px solid gray;
    margin-top: 10px;
    background: rgb(221, 213, 213);
  
    /* background-color: #000; */
  }
  .text-area {
    text-align: center;
    /* background-color: rgb(131, 124, 124); */
   
  }