.faq{
    margin-top:5.5rem;
    /* width:100%; */

}
.left-part{
    color: white;
    background: rgb(131, 119, 119);
    height:20rem;
}

.right-part{
    background: #029bf3e7;
    color: white;
}
 .right-btn{
    background: rgb(53, 47, 47);
    font-weight: bolder;
    border: 1px solid black;
}
.left-btn{
    background: #029bf3e7;
    border: 1px solid black;
    font-weight: bolder;

}
.left-btn:hover{
    background: rgb(88, 84, 84);

}